<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dojos and Ninjas</title>
</head>
<body>
    <div>
        <form action="/create/dojo" method="post">
            <h2>New Dojo</h2>
            <div class="for">
                <label for="name">Name:</label>
                <input type="text" name="name">
            </div>
            <input type="submit" value="Add Dojo">
        </form>
        <div>
            <h2>All Dojos</h2>
            {% for d in all_dojos %}
            <p> 
                <a href="/dojo/{{d.id}}">{{d.name}}</a>
            </p>
            {% endfor %}
        </div>
    </div>
    <a href="/ninjas">Add Ninja</a>
</body>
</html>